---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15wQ2UCefoGgth4QYm4o2ilU&plan=base&email=jim%40example.com
    headers:
      Authorization:
      - Bearer sk_test_c5I9VU9KjDJoyICPO4ZDnb9E
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1430194182,
          "id": "cus_68hRSI69FJBAOm",
          "livemode": false,
          "description": null,
          "email": "jim@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_68hRSI69FJBAOm/subscriptions",
            "data": [
              {
                "id": "sub_68hRpQ8nKBt8tt",
                "plan": {
                  "interval": "month",
                  "name": "myflix subscription",
                  "created": 1430191775,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1430194182,
                "status": "active",
                "customer": "cus_68hRSI69FJBAOm",
                "cancel_at_period_end": false,
                "current_period_start": 1430194182,
                "current_period_end": 1432786182,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_68hRSI69FJBAOm/sources",
            "data": [
              {
                "id": "card_15wQ2UCefoGgth4Q86vPjlxx",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "covvpkA6on6GRi6z",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_68hRSI69FJBAOm"
              }
            ]
          },
          "default_source": "card_15wQ2UCefoGgth4Q86vPjlxx"
        }
  recorded_at: Tue, 28 Apr 2015 04:09:43 GMT
recorded_with: VCR 2.9.3
