---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_15ub11CefoGgth4QtjLxTYv9&description=Sign%20up%20charge%20for%20Jim%40example.com
    headers:
      Authorization:
      - Bearer sk_test_c5I9VU9KjDJoyICPO4ZDnb9E
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15ub11CefoGgth4Q4jlBaMXA"
          }
        }
  recorded_at: Thu, 23 Apr 2015 03:28:40 GMT
recorded_with: VCR 2.9.3
