---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15wQ1YCefoGgth4QNCdazOdD&plan=base&email=Jim%40example.com
    headers:
      Authorization:
      - Bearer sk_test_c5I9VU9KjDJoyICPO4ZDnb9E
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Tue, 28 Apr 2015 04:08:46 GMT
recorded_with: VCR 2.9.3
