---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15wftSCefoGgth4QYXC63ZF5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_c5I9VU9KjDJoyICPO4ZDnb9E
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15wftSCefoGgth4QYXC63ZF5",
          "created": 1430255126,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15wftRCefoGgth4QzvjDy1cI",
              "object": "charge",
              "created": 1430255125,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15wftQCefoGgth4QZgpY5uDn",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "covvpkA6on6GRi6z",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_68xpXoPXstyCqd"
              },
              "captured": true,
              "balance_transaction": "txn_15wftRCefoGgth4QIjDKAsNK",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_68xpXoPXstyCqd",
              "invoice": "in_15wftRCefoGgth4QSbxYXTVm",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15wftRCefoGgth4QzvjDy1cI/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_68xpWEIg3udQzB",
          "api_version": "2015-04-07"
        }
  recorded_at: Tue, 28 Apr 2015 21:43:46 GMT
recorded_with: VCR 2.9.3
