---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_c5I9VU9KjDJoyICPO4ZDnb9E
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15rfCRCefoGgth4QZn60zvjB",
          "livemode": false,
          "created": 1429060819,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15rfCRCefoGgth4QMHRlU0cN",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "covvpkA6on6GRi6z",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "98.198.185.160"
        }
  recorded_at: Wed, 15 Apr 2015 01:20:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_15rfCRCefoGgth4QZn60zvjB&description=charge%20successful
    headers:
      Authorization:
      - Bearer sk_test_c5I9VU9KjDJoyICPO4ZDnb9E
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15rfCSCefoGgth4QAgcp4Hzo",
          "object": "charge",
          "created": 1429060820,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15rfCRCefoGgth4QMHRlU0cN",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "covvpkA6on6GRi6z",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_15rfCSCefoGgth4QxSMtwqhd",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "charge successful",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15rfCSCefoGgth4QAgcp4Hzo/refunds",
            "data": []
          }
        }
  recorded_at: Wed, 15 Apr 2015 01:20:20 GMT
recorded_with: VCR 2.9.3
