---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15wkhcCefoGgth4QyCrpH2FP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_c5I9VU9KjDJoyICPO4ZDnb9E
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15wkhcCefoGgth4QyCrpH2FP",
          "created": 1430273612,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_15wkhcCefoGgth4Q9pXdSq2d",
              "object": "charge",
              "created": 1430273612,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15wkZDCefoGgth4Q5OUhPSf3",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "B2Nu3hCQ2DXXCk82",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_68yk5EUZKCQoou"
              },
              "captured": false,
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_68yk5EUZKCQoou",
              "invoice": null,
              "description": "failed charge",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15wkhcCefoGgth4Q9pXdSq2d/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_692nIetUA4j4hZ",
          "api_version": "2015-04-07"
        }
  recorded_at: Wed, 29 Apr 2015 02:23:21 GMT
recorded_with: VCR 2.9.3
