---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_c5I9VU9KjDJoyICPO4ZDnb9E
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15wPl3CefoGgth4QHLRbyR70",
          "livemode": false,
          "created": 1430193101,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15wPl3CefoGgth4QdrfLLyYL",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "covvpkA6on6GRi6z",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "98.198.185.160"
        }
  recorded_at: Tue, 28 Apr 2015 03:51:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15wPl3CefoGgth4QHLRbyR70&plan=base&email=tony%40volkmanbednar.com
    headers:
      Authorization:
      - Bearer sk_test_c5I9VU9KjDJoyICPO4ZDnb9E
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1430193102,
          "id": "cus_68h9LUNTxy2djz",
          "livemode": false,
          "description": null,
          "email": "tony@volkmanbednar.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_68h9LUNTxy2djz/subscriptions",
            "data": [
              {
                "id": "sub_68h9CQD8OaEEet",
                "plan": {
                  "interval": "month",
                  "name": "myflix subscription",
                  "created": 1430191775,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1430193102,
                "status": "active",
                "customer": "cus_68h9LUNTxy2djz",
                "cancel_at_period_end": false,
                "current_period_start": 1430193102,
                "current_period_end": 1432785102,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_68h9LUNTxy2djz/sources",
            "data": [
              {
                "id": "card_15wPl3CefoGgth4QdrfLLyYL",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "covvpkA6on6GRi6z",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_68h9LUNTxy2djz"
              }
            ]
          },
          "default_source": "card_15wPl3CefoGgth4QdrfLLyYL"
        }
  recorded_at: Tue, 28 Apr 2015 03:51:43 GMT
recorded_with: VCR 2.9.3
