---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_c5I9VU9KjDJoyICPO4ZDnb9E
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15wPnnCefoGgth4QuLPc0w0a",
          "livemode": false,
          "created": 1430193271,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15wPnnCefoGgth4QNOIaZXJN",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "zE6Sz7VR5mHMOmdJ",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "98.198.185.160"
        }
  recorded_at: Tue, 28 Apr 2015 03:54:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15wPnnCefoGgth4QuLPc0w0a&plan=base&email=sierra_shanahan%40greenfelderhuels.org
    headers:
      Authorization:
      - Bearer sk_test_c5I9VU9KjDJoyICPO4ZDnb9E
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Tue, 28 Apr 2015 03:54:32 GMT
recorded_with: VCR 2.9.3
